.notification-bar {
	width: 100vw;
	max-width: 100%;
	padding: calc(#{$gutter} / 2) $gutter;
	background: $black-900;
	text-align: center;

	* {
		color: #fff;
		font-size: 12px;
		font-weight: 600;
	}
}
